ion-toolbar {
  display: flex;

  ion-title {
    justify-content: center;

    ion-button {
      align-items: flex-start;
    }
  }
}
ion-content{
  ion-list{
    ion-item{
      &.app{
        --background: aqua;
      }
      ion-label{

      }
    }
  }
}
