<ion-header>
  <ion-toolbar>
    <ion-title>Cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formUser">
    <ion-list>
      <ion-item>
        <ion-label>Nome:</ion-label>
        <ion-input
          type="text"
          placeholder=""
          formControlName="nome"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Senha:</ion-label>
        <ion-input
          type="text"
          placeholder=""
          formControlName="senha"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>CPF:</ion-label>
        <ion-input type="text" placeholder="" formControlName="cpf"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>RG:</ion-label>
        <ion-input type="text" placeholder="" formControlName="rg"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Nascimento</ion-label>
        <ion-input
          type="date"
          placeholder=""
          formControlName="nascimento"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-select formControlName="perfil" placeholder="Selecione o perfil">
          <ion-select-option [value]="perfil?._id" *ngFor="let perfil of perfil"
            >{{perfil?.nome}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-select formControlName="aplicativo"  placeholder="Selecione seu(s) aplicativos" multiple="true">
          <ion-select-option [value]="app?._id" *ngFor="let app of aplicativos" multiple="true">{{ app?.nome }}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-button
      class="botao"
      color="warning"
      (click)="cadastro()"
      [disabled]="!formUser.valid"
      >Enviar
    </ion-button>
  </form>
</ion-content>
